services:
  postgres_auth:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d authdb" ]
      interval: 3s
      timeout: 3s
      retries: 20

  postgres_catalog:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: catalogdb
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d catalogdb" ]
      interval: 3s
      timeout: 3s
      retries: 20

  postgres_order:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orderdb
    ports:
      - "5435:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d orderdb" ]
      interval: 3s
      timeout: 3s
      retries: 20

  migrate_auth:
    image: migrate/migrate:v4.17.1
    depends_on:
      postgres_auth:
        condition: service_healthy
    volumes:
      - ./migrations/auth:/migrations
    command: [ "-path","/migrations","-database","postgres://postgres:postgres@postgres_auth:5432/authdb?sslmode=disable","up" ]

  migrate_catalog:
    image: migrate/migrate:v4.17.1
    depends_on:
      postgres_catalog:
        condition: service_healthy
    volumes:
      - ./migrations/catalog:/migrations
    command: [ "-path","/migrations","-database","postgres://postgres:postgres@postgres_catalog:5432/catalogdb?sslmode=disable","up" ]

  migrate_order:
    image: migrate/migrate:v4.17.1
    depends_on:
      postgres_order:
        condition: service_healthy
    volumes:
      - ./migrations/order:/migrations
    command: [ "-path","/migrations","-database","postgres://postgres:postgres@postgres_order:5432/orderdb?sslmode=disable","up" ]

  auth:
    build:
      context: .
      args:
        SERVICE: auth
        GO_VERSION: "1.25"
    environment:
      - PORT=8081
      - JWT_SECRET=dev-secret
      - POSTGRES_DSN=postgres://postgres:postgres@postgres_auth:5432/authdb?sslmode=disable
    ports:
      - "8081:8081"
    depends_on:
      migrate_auth:
        condition: service_completed_successfully
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8081/readyz >/dev/null 2>&1 || exit 1" ]
      interval: 3s
      timeout: 3s
      retries: 20

  catalog:
    build:
      context: .
      args:
        SERVICE: catalog
        GO_VERSION: "1.25"
    environment:
      - PORT=8082
      - POSTGRES_DSN=postgres://postgres:postgres@postgres_catalog:5432/catalogdb?sslmode=disable
    ports:
      - "8082:8082"
    depends_on:
      migrate_catalog:
        condition: service_completed_successfully
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8082/readyz >/dev/null 2>&1 || exit 1" ]
      interval: 3s
      timeout: 3s
      retries: 20

  order:
    build:
      context: .
      args:
        SERVICE: order
        GO_VERSION: "1.25"
    environment:
      - PORT=8083
      - CATALOG_URL=http://catalog:8082
      - POSTGRES_DSN=postgres://postgres:postgres@postgres_order:5432/orderdb?sslmode=disable
    ports:
      - "8083:8083"
    depends_on:
      migrate_order:
        condition: service_completed_successfully
      catalog:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8083/readyz >/dev/null 2>&1 || exit 1" ]
      interval: 3s
      timeout: 3s
      retries: 20

  gateway:
    build:
      context: .
      args:
        SERVICE: gateway
        GO_VERSION: "1.25"
    environment:
      - PORT=8080
      - JWT_SECRET=dev-secret
      - AUTH_URL=http://auth:8081
      - CATALOG_URL=http://catalog:8082
      - ORDER_URL=http://order:8083
    ports:
      - "8080:8080"
    depends_on:
      auth:
        condition: service_healthy
      catalog:
        condition: service_healthy
      order:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://localhost:8080/readyz >/dev/null 2>&1 || exit 1" ]
      interval: 3s
      timeout: 3s
      retries: 20