services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ministore
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d ministore" ]
      interval: 3s
      timeout: 3s
      retries: 20

  migrate:
    image: migrate/migrate:v4.17.1
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./migrations:/migrations
    command:
      [
        "-path",
        "/migrations",
        "-database",
        "postgres://postgres:postgres@postgres:5432/ministore?sslmode=disable",
        "up"
      ]

  auth:
    build:
      context: .
      args:
        SERVICE: auth
        GO_VERSION: "1.25"
    environment:
      - PORT=8081
      - JWT_SECRET=dev-secret
      - POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/ministore?sslmode=disable
    ports:
      - "8081:8081"
    depends_on:
      migrate:
        condition: service_completed_successfully

  catalog:
    build:
      context: .
      args:
        SERVICE: catalog
        GO_VERSION: "1.25"
    environment:
      - PORT=8082
      - POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/ministore?sslmode=disable
    ports:
      - "8082:8082"
    depends_on:
      migrate:
        condition: service_completed_successfully

  order:
    build:
      context: .
      args:
        SERVICE: order
        GO_VERSION: "1.25"
    environment:
      - PORT=8083
      - CATALOG_URL=http://catalog:8082
      - POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/ministore?sslmode=disable
    ports:
      - "8083:8083"
    depends_on:
      migrate:
        condition: service_completed_successfully
      catalog:
        condition: service_started

  gateway:
    build:
      context: .
      args:
        SERVICE: gateway
        GO_VERSION: "1.25"
    environment:
      - PORT=8080
      - JWT_SECRET=dev-secret
      - AUTH_URL=http://auth:8081
      - CATALOG_URL=http://catalog:8082
      - ORDER_URL=http://order:8083
    ports:
      - "8080:8080"
    depends_on:
      - auth
      - catalog
      - order

volumes:
  pgdata: